.error {    
    height: 100vh;    
    background: url('/images/404-back.jpg') no-repeat center center fixed;
    background-size: cover;

    &-title {
        font-size: 5em;
        font-weight: 400;
        color: $color-grey;        
    }

    &-subtitle {
        font-size: 2em;
        font-weight: 500;
        color: $color-grey;       
    }

    &-link {
        color: $color-secondary;
        font-weight: 500;
        
        &:hover {
            color: $color-white;      
        }
    }

    @media screen and (max-width: 768px) {
        .error {
            &-title {
                font-size: 3em; 
            }
            &-subtitle {
                font-size: 1.7em;
            }
        }
    }
}