.footer {
    background: $color-footerbg;
    min-height: 4vh;

    &-container {
        display: flex;
        height: 4vh;
        text-align: center;        
    }

    &-copyright {        
        font-size: 1.2em;
        color: $color-grey;
    }

    @media screen and (max-width: 767px) {
        .footer-copyright {
            font-size: 0.9em;
        }
    }
}